# Virtualenv
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Logs
*.log

# System
.DS_Store

# Env files with secrets
.env
config/settings_local.py
telegram_bot/.env
