aiofiles==24.1.0
aiogram==3.22.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.14.2
certifi==2025.1.31
cffi==1.17.1
channels==4.1.0
channels-redis==4.1.0
charset-normalizer==3.4.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==44.0.2
defusedxml==0.7.1
Django==5.1.7
django-ckeditor==6.7.3
django-constance==4.3.2
django-cors-headers==4.7.0
django-filter==25.1
django-js-asset==3.1.2
django-model-utils==5.0.0
django-rest-swagger==2.2.0
django-versatileimagefield==3.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
djoser==2.3.3
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.10.1
drf-writable-nested==0.7.2
drf-yasg==1.21.10
frozenlist==1.7.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lxml==6.0.2
magic-filter==1.0.12
Markdown==3.8.2
MarkupSafe==3.0.2
multidict==6.6.4
numpy==2.3.4
oauthlib==3.2.2
openapi-codec==1.3.2
packaging==24.2
pandas==2.3.3
pillow==11.3.0
propcache==0.3.2
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-magic-bin==0.4.14
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.24.0
setuptools==80.9.0
simplejson==3.20.1
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
soupsieve==2.8
sqlparse==0.5.3
telegram==0.0.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.4.0
yarl==1.20.1
